@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Risk
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Risk;
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@model RiskRatingLabelViewModel

@{
    var riskRatingLabels = RiskRatingLabelBuilder.Build();

    var match = riskRatingLabels.FirstOrDefault(x => x.RiskRating == Model.RiskRating);
}

@if (match != null && match.Tags != null)
{
    @* Use structured Tags to avoid XSS risks instead of Html.Raw() *@
    @for (var i = 0; i < match.Tags.Count; i++)
    {
        var tag = match.Tags[i];
        <strong class="govuk-tag @tag.CssClass">@tag.Text</strong>
        @if (i < match.Tags.Count - 1)
        {
            @:&nbsp;
        }
    }
}
else
{
    <span class="empty">Empty</span>
}