@model Dfe.ManageFreeSchoolProjects.Pages.Dashboard.DashboardLinksModel

<nav aria-label="Menu" class="govuk-service-navigation__wrapper">
    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
        Menu
    </button>
    <ul class="govuk-service-navigation__list" id="navigation">
        <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" aria-current="true" href="/">
                <strong class="govuk-service-navigation__active-fallback">All projects</strong>
            </a>
        </li>
    </ul>
</nav>